Temp/
Library/
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-UnityScript.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj

Assembly-*
*.meta
*.svn*

MamekoRun2D-csharp.sln
MamekoRun2D.apk
MamekoRun2D.userprefs
MamekoRun2D.sln